[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ConfigParser"]
	path = ConfigParser
	url = https://github.com/hhoeflin/configparser
[submodule "flsa"]
	path = flsa
	url = https://github.com/cran/flsa
[submodule "hdf5r"]
	path = hdf5r
	url = https://github.com/hhoeflin/hdf5r
